@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
    --font-syncopate: "Syncopate", sans-serif;
    --font-inter: "Inter", sans-serif;
    --color-primary: #C5A059;
    --color-charcoal: #1A1A1A;
    --color-bg-dark: #0A0A0A;
}

body {
    font-family: var(--font-inter);
    background-color: var(--color-bg-dark);
    color: white;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.font-display {
    font-family: var(--font-syncopate);
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: #c8a328;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b08e22;
}